h1 {
    color: white;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 74pt;
    position: relative;
    transform: translateY(300%);
}

body {
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: left;
    padding: 200pt
}

.parallax {
  /* The image used */
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/de85f8545a69c8b0e9ccf8246a1e51d4/5D0D57F0/t51.2885-15/e35/43533091_2039996202688872_5617399548869130200_n.jpg?_nc_ht=scontent-sjc3-1.cdninstagram.com");
  background-color: #b40000;
  background-blend-mode: multiply;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;

  /*  height */
  min-height: 1080px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
    color: white;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 34pt;
    transform:translateY(650%)
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    margin-top:100pt;
    padding: 0pt
}



ul li {
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100pt;
    opacity: 1;
    line-height: 40px;
    text-align: center;
}

ul li:hover {
    font-weight: 600;
}





ul {
}

header {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



a {
    color: white;
    text-decoration: none;
}