a.menu_links {
    cursor: pointer;
}

h1 {
    color: white;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 74pt;
    position: relative;
    transform: translateY(300%);
}

h2 {
    color: white;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 34pt;
    transform:translateY(650%)
}

h4 {
    color: white;
    font-weight: 300;
    font-size: 18px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 180pt
}

body {
    background-color: black;
}

.parallax {
  /* The image used */
  background-image: url(Press.jpg);
  background-color: #704214;
  background-blend-mode: multiply;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*  height */
  min-height: 1080px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 8pt;
    margin-top:100pt;
    padding: 0pt
}

td:hover {
    font-kerning: auto;
    font-weight: 600;
}

header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}
td {
    margin: 0px;
    padding: 25px;
    width: 70pt;
    line-height: 40px;
    text-align: center;
}
